html {
  font-size: 18px;
}


body {
  font-family: Helvetica;
  line-height: 1.4;

}

.banner {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}


.header {
  display: flex;
  position: relative;
  top: 1rem;
  background-color: cadetblue;
  padding: 1rem 2rem;
  align-items: center;
}

.header_left {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header_logo {
  padding-right: 1rem;
}

.header_logo img{
  display: flex;
  height: 1.5rem;
  align-items: center;
}

nav ul{
  display: flex;
}

nav li{
  padding: 0 2rem;
}

.motto {
  display: inline-block;
  background-color: white;
  padding: 1.5rem 5rem;
  position: relative;
  top: 10rem;
  left: 2rem;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
}


.services .container {
  display: flex;
  justify-content: center;
  height: 8rem;
  padding: 3rem 0;
}

.services .product{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 6rem;
  text-align: center;
}


.image_exams img{
  width: 3.5rem;
}

.image_ruler img {
  width: 5rem;
}

.image_delivery img {
  width: 5rem;
}

.info .container {
  display: flex;
}

.about_philosphy, .about_appointments {
  width: 35%;
}

.about_appointments {
  padding-left: 5%;
}

.box_philosphy, .box_appointments {
  width: 10rem;
  background-color: cadetblue;
  font-weight: bold;
  padding: .5rem 0 .5rem 1.25rem;
  margin-bottom: 1rem;
}


footer .container {

    display: flex;
    align-items: center;
    background-color: azure;
    margin-top: 5rem;
    padding: 4rem 0 4rem 4rem;

}

.footer_logo img{
    height: 1.5rem;
    padding-right: 1rem;
}


@media only screen and (max-width: 1100px){

  .banner {

    height: 22rem;
  }

.container{
  max-width: 100%;
}

  .header {
    top: 0;
  }

.motto {
  top: 5rem;
  left: 0;
  padding: 0.75rem 4rem;
  font-size: 1.33rem;
  margin-right: 2rem;
}

.info {
  padding-left: 4rem; 
}

}
